.navbar {
  position: fixed;
  top: 0;
  display: flex;
  background-color: #2a2a2a;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #f4f4f4;
  transition: background-color 0.3s;
  width: 100vw;
}



.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 1rem;
  margin: 0 auto;
}

.navbar-logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: #ffffff;
  margin-right: 2rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.navbar-menu {
  display: flex;
  gap: 1.5rem;
}

.navbar-item {
  position: relative;
}

.navbar-links {
  color: var(--light-grey);
  text-decoration: none;
  font-size: 1.1rem;
  transition: color 0.3s;
}

.navbar-links:hover {
  color: var(--quaternary);
}

.navbar-item::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: var(--primary);
  transition: width 0.3s;
  position: absolute;
  bottom: -4px;
  left: 0;
}

.navbar-item:hover::after {
  width: 100%;
}


.navbar-links.active {
  color: var(--tertiary);
  font-weight: bold;
}