:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  padding: 0;
  margin: 0;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root{
  --primary: #6043aa;
  --secondary: #bfbfbf;
  --tertiary: #c8a5ea;
  --quaternary: #8655ff;
  --quinary: #371a50;
  --grey:#343434;
  --light-grey:#888888;
}

a {
  /* font-weight: 500; */
  color:  #555;
  text-decoration: inherit;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: rgb(214, 214, 214)
}
small{
  color: var(--secondary);
}

button,.button-primary {
  display: inline-flex
;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--primary);
  cursor: pointer;
  transition: border-color 0.25s;
  align-content: center;
  align-items: center;
  gap: 0.5rem;
}

.button-secondary{
  display: inline-flex;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--tertiary);
  color: #213547;
  cursor: pointer;
  transition: border-color 0.25s;
  align-content: center;
  align-items: center;
  gap: 0.5rem;

}

button:hover {
  border-color: #ebd6ff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

li{
  list-style-type: none;
}

showCursor {
  cursor: pointer;
} 
showArrow{
  cursor: default;
}
